.login-container {
  display: flex;
  justify-content: center; 
  align-items: center;     
  height: 100vh;
}

.login-container h1 {
    font-size: 2.5rem;
}

.login-container h3 {
    font-size: 1.5rem;
    margin-bottom: 24px;
    margin-top: 8px;
}

.caixa-de-login input {
    display: block;
    margin-top: 4px;
    margin-bottom: 12px;
    padding: 12px 24px;
    font-size: 1rem;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.caixa-de-login label {
    font-size: 1.250rem;
}

.botao {
    display: block;
    padding: 16px;
    background-color: #3C3C3C;
    border-radius: 4px;
    text-align: center;
    color: white;
    width: 100%;
    box-sizing: border-box;
    transition: .2s ease;
    font-weight: 600;
    letter-spacing: .09rem;
}

.botao:hover {
    background-color: #1C1C1C;
}

.login-conteudo p {
    margin-top: 12px;
}

.login-conteudo p a {
    padding: 0;
    color: blue;
    text-decoration: underline;
    background-color: initial;
    text-align: start;
}