.menu-container {
  padding: 12px;
}

.header-conteudo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-conteudo h1 {
  font-size: 1.5rem;
}

.header-conteudo a {
  margin-left: 12px;
  background-color: #d9d9d9;
  display: inline-block;
  border-radius: 4px;
  align-items: center;
  box-sizing: border-box;
}

.palavra-limitada {
  max-width: 6ch;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menu-principal-container {
  padding: 28px 16px;
  border-radius: 16px 16px 0 0;
}

.botoes {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  overflow-x: scroll;
}

.botaoMenu {
  background-color: #d9d9d9;
  text-align: center;
  padding: 16px;
  border-radius: 8px;
  width: 52px;
  height: 2.5vh;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.botaoMenu p {
  color: #1f1c1c;
}

.pix-p {
  margin-top: 4px;
}

.saldo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  margin-top: 8px;
}

.saldo-container a {
  margin-top: 4px;
}

.saldo {
  display: flex;
  align-items: center;
}

.saldo p {
  margin-left: 8px;
}

#btn-toggle-saldo {
  background: #d9d9d9;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 4px;
  display: flex;
  align-items: center;
}

#saldo {
  font-size: 1.5rem;
}

.opcoes {
  padding: 12px;
  background-color: #d9d9d9;
  margin-top: 12px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.opcoes p,
.solucao h3 {
  color: #1f1c1c;
}

.oquefazer-container {
  margin-top: 20px;
}

.solucoes-container {
  margin-top: 20px;
}

.solucao {
  padding: 16px;
  background-color: #d9d9d9;
  margin-bottom: 12px;
  margin-top: 8px;
  border-radius: 4px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.solucao h3 {
  margin-bottom: 16px;
}

.footer-principal-conteudo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-principal-nav {
  padding: 8px;
}

.footer-principal-nav p {
  font-size: 0.95rem;
}

@media (max-width: 380px) {
  .header-conteudo h1 {
    font-size: 1.2rem;
  }
}

@media (min-width: 600px) {
  .botaoMenu {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
  }

  .botoes {
    gap: 48px;
  }

  .palavra-limitada {
    max-width: initial;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .opcoes-oquefazer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1;
    gap: 8px;
  }
  .opcoes-oquefazer > a:nth-child(3) {
    grid-column: 1 / -1;
  }
}

@media (min-width: 800px) {
  .botaoMenu p,
  .opcoes p {
    font-size: 1.25rem;
  }
  .oquefazer h2,
  .solucoes-conteudo h2 {
    font-size: 1.8rem;
    margin-bottom: 12px;
  }
  .solucao h3 {
    font-size: 1.4rem;
  }
}

@media (min-width: 1200px) {
  .botoes a {
    width: 11vw;
    gap: 0px;
    box-sizing: border-box;
  }
  .botaoMenu {
    border-radius: 0px;
    transition: .1s ease;   
  }
  .botaoMenu:hover {
    background-color: #E9E9E9;
  }
  .solucoes-conteudo h3 {
    font-size: 2.5rem;
  }
}

@media (max-width: 1000px) {
  .solucao img {
    display: none;
  }
}

@media (min-width: 1000px) {
  .botoes {
    gap: 0;
    overflow-x: hidden;
    justify-content: space-around;
  }
  .botaoMenu {
    width: 100%;
    padding: 12px;
  }
  .solucao {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .solucao img {
    width: 50%;
    border-radius: 8px;
  }
  .solucao-descricao {
    align-items: center;
  }
}

@media (max-width: 600px) {
 .botaoMenu {
  height: 100%;
  box-sizing: border-box;
  width: 100%;
 } 
}