.botoesPagar {
  display: flex;
  justify-content: space-around;
  gap: 12px;
}

.botoesPagar a {
  width: 100%;
}

.botaoMenuPagar {
  background-color: #d9d9d9;
  padding: 8px;
  border-radius: 4px;
  text-align: center;
  height: 50px;
  align-items: center;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.botaoMenuPagar P {
  color: #1f1c1c;
}

@media (min-width: 600px) {
  .opcoes-oquefazer {
    display: block;
    width: 100%;
  }
}